{% extends 'base.html' %}
{% block content %}
{% comment %}
<h1>List of all authors: </h1>
<ul class="list-group">
    {% if authors %}
    {% for author in authors %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{author.get_absolute_url}}">
            {{ author.name }}
        </a>
        <a href="{% url 'author-delete' author.pk %}" class="btn btn-danger">
            Delete
        </a>
        <span class="badge bg-primary rounded-pill">{{ author.book_set.all.count }} Book</span>
    </li>
    {% endfor %}
    {%else%}
    <p>Library is empty</p>
    {%endif%}
</ul>
{% endcomment %}



<div class="row">


    <div class="col-md-12">
    {% if authors %}
                {% if user.is_authenticated %}
                {% if perms.catalog.can_create_author %}
        <h4>List All authors:</h4>
        <table id="mytable" class="table table-light">
            <thead>
                <th scope="col">#</th>
                <th>Name</th>
                <th>Number of books</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                
                {% for author in authors %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{{author.get_absolute_url}}">{{ author.name }}</a></td>
                    <td>
                        <p class="text-center">{{ author.book_set.all.count }}</p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                data-target="#edit">
                                <a href="{% url 'author-update' author.pk %}" class="text-light">Edit</a>
                            </button>
                        </p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                data-target="#delete">
                                <a href="{% url 'author-delete' author.pk %}" class="text-light">Delete</a>
                            </button>
                        </p>
                    </td>
                </tr>
                {%endfor%}
                {% else %}
                <h4>List All authors:</h4>
        <table id="mytable" class="table table-light">
            <thead>
                <th scope="col">#</th>
                <th>Name</th>
                <th>Number of books</th>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{{author.get_absolute_url}}">{{ author.name }}</a></td>
                    <td>
                        <p class="text-center">{{ author.book_set.all.count }}</p>
                    </td>
                </tr>
                {%endfor%}
                {%endif%}
                {%endif%}
                {%endif%}
            </tbody>
        </table>



        {% endblock content %}
        {% block pagination %}

        {% endblock pagination %}