{% extends 'base.html' %}
{% block content %}
<h1>List of all authors: </h1>
<ul class="list-group">
    {% if authors %}
    {% for author in authors %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{author.get_absolute_url}}">
            {{ author.name }}
        </a>
        <span class="badge bg-primary rounded-pill">{{ author.book_set.all.count }} Book</span>
    </li>
    {% endfor %}
    {%else%}
    <p>Library is empty</p>
    {%endif%}
</ul>
{% endblock content %}
{% block pagination %}

{% endblock pagination %}