{% extends "base.html" %}

{% block content %}
<h1>All Borrowed books</h1>

{% if mybooks %}
<div class="container">
    <div class="row">
        {% for copy in mybooks %}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <p
                        class="{% if copy.loan_status == 'A' %}bg-success{% elif copy.loan_status == 'M' %}bg-danger{% else %}bg-warning{% endif %} card-title badge">
                        {{ copy.get_loan_status_display }}
                    </p>
                    <p class="card-text">
                        <a href="{% url 'book-detail' copy.book.pk %}">{{copy.book.title}}</a>
                    </p>
                    <p class="card-text {% if copy.is_overdue %}text-danger{% endif %}">
                        <strong>Due to be returned:</strong> {{ copy.due_back_date }}</p>
                    <p class="text-muted card-text"><strong>By:</strong> {{ copy.borrower }}</p>
                    {% if perms.catalog.can_mark_returned %}
                        <a href="{% url 'mark-returned' copy.pk %}" class="btn btn-primary">Marke as returend</a></p>
                        <a href="{% url 'renew-book-librarian' copy.pk %}" class="btn btn-danger">Renew Due Back Date</a></p>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>There are no books borrowed.</p>
    {% endif %}
</div>
{% endblock %}